{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fig</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fig.id }}</td>
            </tr>
            <tr>
                <th>Numlados</th>
                <td>{{ fig.numLados }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fig_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fig_edit', { 'id': fig.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
