{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fig</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Resumen</th>
                <th>Numlados</th>
                <th>Area</th>
                <th>Perimetro</th>
            </tr>
            <tr>
                <td>{{ fig.id }}</td>
                <td>{{ fig.printr }}</td>
                <td>{{ fig.numLados }}</td>
                <td>{{ fig.area }}</td>
                <td>{{ fig.perimetro }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}


    <br><br>
    <a href="{{ path('workspace_index') }}">Workspaces</a>


{% endblock %}
