{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workspaces list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Límite</th>
                <th>Figura</th>
                <th>Area Total</th>
                <th>Apotema total</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        {% for workspace in workspaces %}
            <tr>
                <td><a href="{{ path('workspace_show', { 'id': workspace.id }) }}">{{ workspace.id }}</a></td>
                <td>{{ workspace.nombre }}</td>
                <td>{{ workspace.limiteFiguras }}</td>
                <td>
                    <ul>
                        {% for figura in workspace.figuras %}
                        <li>
                            <a href="{{ path('fig_show', { 'id': figura.id }) }}">
                                Lados: {{ figura.numLados }}, {{  figura.printr }}
                            </a>
                        </li>
                        {%  endfor %}
                    </ul>
                </td>
                <td>
                    {{ workspace.getAreaTotal }}
                </td>
                <td>
                    {{ workspace.apotemaTotal }}
                </td>
                <td>
                    <a href="{{ path('workspace_edit', { 'id': workspace.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('workspace_new') }}">Create a new workspace</a>
        </li>
    </ul>
{% endblock %}
