{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cuadrados list</h1>

    <table>
        <thead>
            <tr>
                <th>Lado</th>
                <th>Id</th>
                <th>Numlados</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cuadrado in cuadrados %}
            <tr>
                <td><a href="{{ path('cuadrado_show', { 'id': cuadrado.id }) }}">{{ cuadrado.lado }}</a></td>
                <td>{{ cuadrado.id }}</td>
                <td>{{ cuadrado.numLados }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cuadrado_show', { 'id': cuadrado.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cuadrado_edit', { 'id': cuadrado.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cuadrado_new') }}">Create a new cuadrado</a>
        </li>
    </ul>
{% endblock %}
