{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cuadrado</h1>

    <table>
        <tbody>
            <tr>
                <th>Lado</th>
                <td>{{ cuadrado.lado }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cuadrado.id }}</td>
            </tr>
            <tr>
                <th>Numlados</th>
                <td>{{ cuadrado.numLados }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cuadrado_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cuadrado_edit', { 'id': cuadrado.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
